*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "vars";
section h5 {
    font-family: Special Elite;
    margin-top: 10px;
    padding-left: 10%;
  }
  section div {
    text-align: justify;
  }
  section h5 {
    font-family: Special Elite;
    margin-top: 10px;
    padding-left: 10%;
  }
  textos {
    color: black;
  }
  primario {
    color: #c2a784;
  }
  secundario {
    color: #a08666;
  }
  .color {
    background: black;
  }
  .rama, .ramah {
    height: 350px;
    margin-top: 50px;
    padding-left: 70%;
  }
  .fuente, .header {
    font-family: 'Special Elite', cursive;
    margin-top: 10px;
    padding-left: 10%;
  }
  .header {
    color: white;
  }
  .btnbr {
    color: white;
    font-size: 16px;
    background-color: #a08666;
  }

  /* INDEX */
section { 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ; 
        }
.logobruma{
    padding-left: 45%;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 70px
    }       
.navbarbr{
    background-color: rgb(194, 167, 132);
    font-family: 'Special Elite', cursive;
    }
.collapse{
    justify-content: center;
    margin: 0px 30px;
    color: black; 
}    
.nav{
    margin: 0px 30px;
    color: black; 
}
a { 
    text-decoration: none;
    font-family: 'Special Elite', cursive;
    color: black;   
}
@keyframes animacion{
    0%{
        width: 5%;
    }
    100% { 
        width: 100%;
    }
}
.imappal{
    width: 100%;
}
.flex-container {
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    gap: 15px;
    justify-content: space-around;
  }
.flex-item {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    background: rgb(136, 131, 124);
    height: 150px;
    width: 150px;
    text-align: center;
    font-family: 'Special Elite', cursive;
    padding: 15px 15px 15px 15px;
    animation-name: animacion;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-delay: 1s;
    a { text-decoration: none; 
        color: beige;
    } 
}
a:hover{
    color: beige !important;
}
.imageninicio {
    width: 25%;
    float: left;
    margin-right: 15px;
    margin-top: 15px;
}
.textoi {
    background-color: white;
    color: black;
    width: 95%;
    margin: 0px;
    text-align: justify;
    margin-top: 15px;
    }
@media screen and (max-width: 1200px){
    .imaind{
        display: flex;
        margin-top: 10px;
        justify-content: center;
    }
    }    
@media screen and (max-width: 991px){
    .imaind{
        display: flex;
        margin-top: 10px;
        justify-content: center;
    }
    .flex-container {
        display: flex;
        margin-top: 10px;
        justify-content: center;
    }
    .flex-item {
        padding: 10px 10px 10px 10px;
        height: 100px;
    }
    .imageninicio {
            width: 30%;
            float: left;
            margin-right: 15px;
            margin-top: 15px;
    }
    .textoi {
            background-color: white;
            line-height: 21px;
            color: black;
            width: 95%;
            margin: 0px;
            text-align: justify;
            margin-top: 15px;
            font-size: small;
    }
}
@media screen and (max-width: 480px){
    .imaind{
        display: flex;
        margin-top: 10px;
        justify-content: center;
    }
    .logobruma{
        padding-left: 10%;
        } 
    nav ul li{
        display: inline;
        text-align: center;
        font-size: 12px;
    } 
    .imageninicio {
        width: 40%;
        float: left;
        margin-right: 15px;
        margin-top: 15px;
    }
    .textoi {
            line-height: 21px;
            font-size: xx-small;
    }
}
/* NOSOTROS */
.imanos{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fondonos{
    width: 100%;
    background-color: rgb(219, 199, 172);
}
.textonosotros{
    text-align: justify;
    font-size: medium;
}
.fuente{
    font-family: 'Special Elite', cursive;
    margin-top: 10px;
    padding-left: 2px;
    font-size: x-large
}
.bg-propio {
    background-color: rgb(160, 134, 102);
    opacity: .90;
}
.nostext{
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1200px){
.imanos{
    width: 100%;
}   
}
@media screen and (max-width: 991px){
.imanos{
    width: 100%;
    }
    .fuente{
    display: flex;
    justify-content: center;
    }
.nostext{
    display: flex;
    justify-content: center;
    padding: 5%;
    }
.nostext{
    text-align: justify;
    } 
}
@media screen and (max-width: 480px){
.logobruma{
        padding-left: 10%;
} 
nav ul li{
        display: inline;
        text-align: center;
        font-size: 12px;
} 
.container-fluidn{
    width: 80%;
}
.imanos{
    float: left;
    margin-right: 15px;  
    width: 100%;
}
}
/* VELAS */
.colorv{
   background-color: rgb(135,123,111);
}
.contvelas{
    background-color: rgb(212,199,180);

}
.velas{
    img{
    align-items: center;
    padding: 5px 5px 5px 5px;
    }
}
.velas{
    img{
        width: 100%;
        &:hover{
            z-index: 100;
            transform: scale(1.2);
        }
    }
}
.textovelas{    
    text-align: justify;
    padding: 12px;
    opacity: .70;
    color: white;
}
.ramahor{
    margin-left: 2%;
    margin-top: -5%;
    width: 100%;
}
@media screen and (max-width: 1200px){
.ramahor{
    margin-left: 35%;
    margin-top: -2%;
    position: absolute;
    z-index: 100;
    }   
}
@media screen and (max-width: 576px){
.ramahor img{
    margin-left: -10%;
    margin-top: -2%;
    position: absolute;
    z-index: 100;
    width: 50%;
        }
}
@media screen and (max-width: 480px){
.logobruma{
        margin-left: 10%;
        } 
nav ul li{
        display: inline;
        text-align: center;
        font-size: 12px;
    } 
.ramahor img{
    margin-left: -10%;
    margin-top: -2%;
    position: absolute;
    z-index: 100;
    width: 50%;
        }    
}

/* DIFUSORES */
.fondodif{
    background-color: rgb(212,199,180);
}
.difusorprincipal{
    margin-top: 5px;
    height: 100%;
}
.item{
    height: 120%;
}
.colord{
    background-color: rgb(138,126,113);
    padding: 0px;
}
.fuente{
    color: beige;
    padding-top: 5px;
    padding-left: 10px;
}
.textod{
    color: white;
    font-weight: 400;
    text-align: justify;
    padding: 0px 5px 5px 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.imagendif1{
    margin: 0px;
    margin-top: 10px;
    img{
        width: 100%;
    }
}
.ramadif{
    margin-top: 50px;
    padding-left: 50px;
}
@media screen and (max-width: 1200px){
.fuente{
    padding-top: 5%;
    padding-left: 5%;
}
.textod{
    padding-bottom: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.ramadif{   
    margin-top: -120%;
    margin-left: 65%;
    z-index: 30%;
    position: absolute;
    transform: rotate(-90deg);
    }   
.imagendif1{
    margin: 15%;
    img{
        width: 70%;
    } 
} 
}
@media screen and (max-width: 991px){
.difusorprincipal{
    img{
    width: 100%;
    } 
}  
.ramadif{   
    display: none;
    }  
}
@media screen and (max-width: 480px){
.imagendif1{
    img{
        width: 100%;
    }
}
.imaind{
        display: flex;
        margin-top: 10px;
        justify-content: center;
    }
.logobruma{
        padding-left: 10%;
        } 
nav ul li{
        display: inline;
        text-align: center;
        font-size: 12px;
    } 
.ramadif{  
    display: contents; 
    img{
        transform: rotate(-90deg);
        margin-top: -450%;
        margin-left: 35%;
        position: absolute;
        width: 20%;
    }
    } 
}

/* LAMINAS */
.fuentel{
    color: rgb(255, 255, 255);
    font-family: 'Special Elite', cursive;
    font-size: x-large;
    margin-left: 120px;
}

.fondol{
    background-color: #a08666;   
}
.card{
    width: 70%;
    margin: 14%;
    display: flex;

    img{
        width: 100%;
        &:hover{
            z-index: 100;
            transform: scale(1.2);
        }
    }
}
@media screen and (max-width: 480px){
.logobruma{
        padding-left: 10%;
        } 
nav ul li{
        display: inline;
        text-align: center;
        font-size: 12px;
    } 
}
/* CONTACTO */ 
.fondoc{
    background-color: #a08666;
}
.well{
    font-family: 'Special Elite', cursive;
}
.imagcont{
    width: 100%;
}
.header {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 5px;
}
.bigicon {
    font-size: 35px;
    color: rgb(255, 255, 255);
}    
.btnbr{
    color: rgb(255, 255, 255);
    font-size: 16px;
    background-color: rgb(160, 134, 102);
}
.rama{
    height: 350px;
    margin-top: 50px;
    padding-left: 70%;
}
.contacto{
    font-size: small;
}
.footer{
    padding-top: 15px;
    color: #a08666;
    display: flex;
    font-size: x-large;
    justify-content: space-around;
    list-style: none;
}
@media screen and (max-width: 1200px){
.imagcont{
    padding: 0% 20% 2% 10%;
}
.rama{
    transform: rotate(-90deg); 
    margin-top: 10%;
}
.well{
    margin-left: 15%;    
}
}
@media screen and (max-width: 768px){
.well{
    margin-right: 25%;    
    }   
}
@media screen and (max-width: 577px){
    .imagcont{
    display: none;
    width: 0%;
    }
.rama{
    transform: rotate(-180deg); 
    margin-left: -200%;
    margin-top: 20%;
}
.well{
    padding: 0%;
    width: 200%;
}
}
@media screen and (max-width: 420px){
.rama{
    margin-left: -250%;
    margin-top: 20%;
}
}
    


