@import "vars";

// NOSOTROS
section{
    h5{
        font-family: Special Elite;
        margin-top: 10px;
        padding-left: 10%;        
    }
    div{
        text-align: justify;
    }
    div{
        background-color: $colorDos;
        opacity: .90;
    }
// VELAS        
    h5{
        font-family: Special Elite;
        margin-top: 10px;
        padding-left: 10%;   
    }
    div{
        p{
        text-align: justify;
        padding: 10px;
        background-color: $colorDos;
        opacity: .70;
        color: beige;
        }
    }
}
//maps
$colores: (
    textos: black,
    primario: rgb(194, 167, 132),
    secundario: rgb(160, 134, 102),
);
@each $color, $valor in $colores {
    #{$color}{
        color: $valor;
    }
}
// map get
.color{
    background: map-get($map: $colores, $key: textos);
}
//extend
.rama{
    height: 350px;
    margin-top: 50px;
    padding-left: 70%;
}
.ramah{
@extend .rama; 
background-color: rgb(194, 167, 132),;
}
.fuente{
    font-family: 'Special Elite', cursive;
    margin-top: 10px;
    padding-left: 10%;
}
.header{
    @extend .fuente;
    color: rgb(255, 255, 255),;
}
// mixin
@mixin btnbr {
    color: rgb(255, 255, 255);
    font-size: 16px;
}
.btnbr{
    @include btnbr;
    background-color: rgb(160, 134, 102);
}